<!DOCTYPE html>
<html>
<head>
  <title>Infodynamics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <div>
    <ul>
      <li><a href="/customers/">Customers</a></li>
      <li><a href="/calls/">Calls</a></li>
      <li><a href="/emails/">Emails</a></li>
    </ul>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
